<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cherry+Swash&display=swap" rel="stylesheet">
<section id="introductions" class="section">
    <section id="home">
        <div class="home__container">
            <app-base-page class="service-page" ></app-base-page>
         </div>
       
    </section>
            <!-- Blog preview section-->
            <section class="py-5">
                <div class="container px-5 my-5">
                    <div class="row gx-5 justify-content-center">
                        <div class="col-lg-8 col-xl-6">
                            <div class="text-center">
                                <h2 class="fw-bolder">From our Dentistry</h2>
                                <p class="lead fw-normal text-muted mb-5">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Eaque fugit ratione dicta mollitia. Officiis ad.</p>
                            </div>
                        </div>
                    </div>
                    <div class="row gx-5">
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="image/Family.jpg" height="230px"  alt="..." />
                                <div class="card-body p-4">

                                 <h5 class="card-title mb-3">Family Dentistry</h5>
                                    <p class="card-text mb-0">Making sure your children have a pleasant experience is a top priority for our team.</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="image/emergeny.jpg" height="230px" alt="..." />
                                <div class="card-body p-4">
                                   
                                    <h5 class="card-title mb-3">Emergency Dentistry</h5>
                                    <p class="card-text mb-0">TIf you suffer from a tooth ache, swelling, or have lost a crown or a tooth, contact us for emergency care.
                                    </p>
                                </div>
                               
                            </div>
                        </div>
                        <div class="col-lg-4 mb-5">
                            <div class="card h-100 shadow border-0">
                                <img class="card-img-top" src="image/teeth.jpg" height="230px" alt="..." />
                                <div class="card-body p-4">
                                   <h5 class="card-title mb-3">Teeth Whitening & Cosmetic Dentistry</h5>
                                    <p class="card-text mb-0">Teeth whitening, chipped tooth restoration, veneers and dental crowns, dentures, dental bonding.</p>
                                </div>
                                
                            </div>
                        </div>
                    </div>
                   </div>
    </section>
